<!--
  Generated template for the TodosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Todo List</ion-title>
    <ion-segment [(ngModel)]="typeList" (ionChange)="changeList()">
      <ion-segment-button value="All">
        All Todo List
      </ion-segment-button>
      <ion-segment-button value="My">
        My Todo List
      </ion-segment-button>
      <ion-segment-button value="Shared">
        Shared Todo List
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="typeList !== 'Shared'">
    <ion-item-sliding *ngFor="let list of todoList | async" >
      <button ion-item (click)="itemSelected(list.name, list.id)">
        {{list.name}} : {{list.nbItems}}
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" icon-start (click)="editList(list.id,list.name)">
          <ion-icon name="construct">
          </ion-icon>
          Modifier
        </button>
        <button ion-button color="secondary" icon-start (click)="presentModal(list.id)">
          <ion-icon name="barcode">
          </ion-icon>
          Partager
        </button>
        <button ion-button color="danger" icon-start (click)="presentConfirm(list.id)">
          <ion-icon name="trash">
          </ion-icon>
          Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="typeList === 'Shared'">
    <ion-item-sliding *ngFor="let list of todoList | async" >
      <button ion-item *ngIf="list.owner !== userid" (click)="itemSelected(list.name, list.id)">
        {{list.name}} : {{list.nbItems}}
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" icon-start (click)="editList(list.id,list.name)">
          <ion-icon name="construct">
          </ion-icon>
          Modifier
        </button>
        <button ion-button color="secondary" icon-start (click)="presentModal(list.id)">
          <ion-icon name="barcode">
          </ion-icon>
          Partager
        </button>
        <button ion-button color="danger" icon-start (click)="presentConfirm(list.id)">
          <ion-icon name="trash">
          </ion-icon>
          Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab left bottom>
    <button ion-fab mini color="secondary" (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab mini color="primary" (click)="ajoutList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


</ion-content>
